<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ATOKスタイル_Revision</key>
	<integer>1</integer>
	<key>ATOKスタイル_Version</key>
	<integer>27</integer>
	<key>キー</key>
	<data>
	AAAAGAAYAE8ATwCPAI8A0QDRAPsA+wEj////////////////////////////////////
	//////8BIwEzATMBMxQSESj/////AB8RCP///////wAgBQ0FbxENEW8APBQFESf/////
	AEEUGgFQ/////wBJFBgFUP////8ASiAg////////AFcUFgVS/////wB9FAIRUv////8A
	fhQDAVL/////AIwUGf///////wCfFAj///////8AsBQEESv/////ALQVK////////wC+
	FAH///////8AwBQGESz/////AMEVLP///////wDDEWUhZf////8AxhFoIWj/////AMcU
	MP///////wDPFBP///////8A0BQx////////ANUBG////////wDZFBT///////8A7gEI
	EAj/////AAAQBwFk/////wABAWcQDP////8AAgFmEAv/////AAMRZyFn/////wAEEWYh
	Zv////8ABRQK////////AAcAICAg/////wAIBCD///////8ACQVo////////AAoQAAEq
	/////wALEBUBJv////8ADBAJASf/////AA0QDwEo/////wAOEBABKf////8ADxAxASH/
	////ABEQMgEi/////wASEDMBI/////8AExA0AST/////ABQQNQEl/////wAVFDYFJv//
	//8AFgFoEA7/////ABsUIBAg/////wAcAQ0QDQFv//8AHQEbAUcFG///AB4RCP//////
	/wAgEAr///////8ALwUNBW8RDRFvADwUGgFQ/////wBJFBgFUP////8AShAXAWr/////
	AF4UFwVq/////wBfEAH///////8AayEJ////////AHgUFgVS/////wB9FAIRUv////8A
	fhA7ASv/////AH8UAwFS/////wCMAQn///////8AnhQI////////ALAUBBEr/////wC0
	FSv///////8AvhQB////////AMAVLP///////wDDEWUFCSFl//8AxhFoIWj/////AMcU
	MP///////wDPFBP///////8A0BQx////////ANUhDSFv/////wDYFWL///////8A5xVh
	////////AOgkdxVq/////wDqEBT///////8A7RQU////////AO4QBwFk/////wABACAg
	IP////8ACAQg////////AAkFaP///////wAKEAABKv////8ACxAVASb/////AAwQCQEn
	/////wANEA8BKP////8ADhAQASn/////AA8QMQEh/////wAREDIBIv////8AEhAzASP/
	////ABMQNAEk/////wAUEDUBJf////8AFRQ2BSb/////ABYBaBAO/////wAbFCAQIP//
	//8AHAENEA0Bb///AB0BG////////wAeEQj///////8AIBAK////////AC8BYhQO////
	/wAwAWEUDf////8AMQEIEAgBRwUbADIUCv///////wAzAWcQDP////8ANAFmEAv/////
	ADUFZ////////wA2BWb///////8ANxFnIWf/////ADgRZiFm/////wA5EAQRZP////8A
	OgVk////////ADsFDQVvEQ0RbwA8FBoBUP////8ASRQYBVD/////AEoQFwFq/////wBe
	FBcFav////8AXxAB////////AGshCf///////wB4FWf///////8AexVm////////AHwU
	FgVS/////wB9FAIRUv////8AfhA7ASv/////AH8UAwFS/////wCMFAj///////8AsBQE
	ESv/////ALQVK////////wC+FAH///////8AwBUs////////AMMRZSFl/////wDGAQkR
	aCFo//8AxxQw////////AM8UE////////wDQEBP///////8A0RQx////////ANUhDSFv
	/////wDYFWL///////8A5xVh////////AOgkdxVq/////wDqEBT///////8A7RQU////
	////AO4Baf///////wDbEAcBZP////8AAQAgEWghaP//AAgEIAFlEWUhZQAJBWj/////
	//8AChAAASr/////AAsQFQEm/////wAMEAkBJ/////8ADRAPASj/////AA4QEAEp////
	/wAPEDEBIf////8AERAyASL/////ABIQMwEj/////wATEDQBJP////8AFBA1ASX/////
	ABUUNgUm/////wAWAWgQDv////8AGxQgECD/////ABwBDRANAW///wAdARv///////8A
	HgFiFA7/////ADABYRQN/////wAxAQgQCAFHBRsAMhQK////////ADMBZxAM/////wA0
	AWYQC/////8ANQVn////////ADYFZv///////wA3EWchZ/////8AOBFmIWb/////ADkQ
	BBFk/////wA6BWT///////8AOwUNBW8RDRFvADwgIP///////wA+JCD///////8APxQa
	AVD/////AEkUGAVQ/////wBKEBcBav////8AXhQXBWr/////AF8QAf///////wBrAQkQ
	Cv////8AdgUJ////////AHchCf///////wB4FWf///////8AexVm////////AHwUFgVS
	/////wB9FAIRUv////8AfhA7ASv/////AH8UAwFS/////wCMEWIULP////8AjhFhFC7/
	////AI8UCP///////wCwFAQRK/////8AtBUr////////AL4UAf///////wDAFSz/////
	//8AwxQw////////AM8UE////////wDQEBP///////8A0RQx////////ANUhDSFv////
	/wDYFWL///////8A5xVh////////AOgkdxVq/////wDqEBT///////8A7RQU////////
	AO4Baf///////wDbEAABKv////8ACxAVASb/////AAwQCQEn/////wANEA8BKP////8A
	DhAQASn/////AA8QMQEh/////wAREDIBIv////8AEhAzASP/////ABMQNAEk/////wAU
	EDUBJf////8AFRQ2BSb/////ABYBCBAIAUcFGwAyFAr///////8AMxAEEWT/////ADoF
	ZP///////wA7ICD///////8APiQg////////AD8UGgFQ/////wBJFBgFUP////8ASgEJ
	EAr/////AHYFCf///////wB3IQn///////8AeBQWBVL/////AH0UAhFS/////wB+EDsB
	K/////8AfxQDAVL/////AIwRYhQs/////wCOEWEULv////8AjwAgAWcUIBAgAKgBZv//
	/////wCqAWj///////8AqwFl////////AKwBDRANAW///wCtARv///////8ArhQI////
	////ALAUBBEr/////wC0FSv///////8AvhQB////////AMAVLP///////wDDFDD/////
	//8AzxQT////////ANAUMf///////wDVACAgIP////8ACAVo////////AAoQAAEq////
	/wALEBUBJv////8ADBAJASf/////AA0QDwEo/////wAOEBABKf////8ADxAxASH/////
	ABEQMgEi/////wASEDMBI/////8AExA0AST/////ABQQNQEl/////wAVFDYFJv////8A
	FgFoEA7/////ABsUIBAg/////wAcAQ0QDQFv//8AHQEb////////AB4RCP///////wAg
	EAr///////8ALwEIEAgBRwUbADIBZxAM/////wA0AWYQC/////8ANRQaAVD/////AEkU
	GAVQ/////wBKIQn///////8AeBVn////////AHsVZv///////wB8FBYFUv////8AfRQC
	EVL/////AH4QOwEr/////wB/FAMBUv////8AjBQI////////ALAUBBEr/////wC0FSv/
	//////8AvhQB////////AMAVLP///////wDDFDD///////8AzxQT////////ANAUMf//
	/////wDVIQ0hb/////8A2BQaAVD/////AEkUGAVQ/////wBKICD///////8AVxQWBVL/
	////AH0UAhFS/////wB+FAMBUv////8AjBQZ////////AJ8UCP///////wCwFAQRK///
	//8AtBUr////////AL4UAf///////wDAFAYRLP////8AwRUs////////AMMUMP//////
	/wDPFBP///////8A0BQx////////ANX/////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////
	</data>
	<key>ローマ字</key>
	<data>
	AAACOgEAAAIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAABAAEAAQACAAEAAwABAAQAAAAEAAAABAAAAAQAAAAEAAAABAAAAAQAAAAE
	AAAABAAAAAQAAAAEAAAABAABAAUAAAAFAAAABQAAAAUAAAAFAAAABQAAAAUAAAAFAAAA
	BQAAAAUAAAAFAAAABQAAAAUAAAAFAAAABQAAAAUAAAAFAAAABQAAAAUAAAAFAAAABQAA
	AAUAAAAFAAAABQAAAAUAAAAFAAAABQAAAAUAAAAFAAAABQAAAAUAAAAFAAEABgAAAAYA
	AQAHAAAABwAAAAcAAAAHAAEACAAeACYADwA1ABUASgABAEsAEABbAB8AegArAKUAAQCm
	ABEAtwAqAOEADwDwAC0BHQAwAU0AAQFOACwBegABAXsAHgGZACIBuwAiAd0AAQHeAAYB
	5AAVAfkAGAIRAA8CIAAaAjoAAAI6AAACOgAAAjoAAAI6AAAAAAEBAAIBAQAEAQEABgEB
	AAgBAQAKAQEADAEBAA4BAQAQAgEAEwICABcCAgAbAgMAIAICACQCAwApAgMALgIDADMC
	AwA4AgIAPAIDAEECAwBGAgMASwICAE8CAwBUAwMAWgMEAGEDAwBnAwQAbgMDAHQDBAB7
	AwQAggMEAIkDAwCPAwQAlgMEAJ0DAwCjAwQAqgMEALECAwC2AgEAuQICAL0CAwDCAgIA
	xgICAMoCAwDPAgMA1AIDANkCAwDeAgIA4gIDAOcCAwDsAgIA8AIDAPUCAwD6AgEA/QIC
	AQEDAwEHAwMBDQICARECAgEVAgMBGgICAR4CAwEjAgMBKAIDAS0CAwEyAgMBNwICATsC
	AwFAAgMBRQIDAUoCAwFPAgIBUwIDAVgCAwFdAQEBXwIBAWICAgFmAgMBawICAW8CAwF0
	AgIBeAICAXwCAwGBAgMBhgIDAYsCAgGPAgMBlAIDAZkCAQGcAgMBoQIDAaYCAQGpAgIB
	rQIDAbICAgG2AgMBuwICAb8CAwHEAgMByQIDAc4CAwHTAgIB1wIDAdwCAwHhAgMB5gID
	AesCAgHvAgMB9AMDAfoDBAIBAwMCBwMEAg4DAwIUAwQCGwMEAiIDBAIpAwMCLwMEAjYD
	BAI9AwMCQwMEAkoDBAJRAgECVAIBAlcCAgJbAgECXgIBAmEDAgJmAwMCbAMCAnEDAwJ3
	AwMCfQMDAoMDAwKJAwICjgMDApQDAwKaAwICnwMDAqUDAwKrAgICrwIBArICAgK2AgIC
	ugICAr4CAgLCAgECxQICAskCAgLNAgIC0QIBAtQCAgLYAwIC3QMDAuMDAgLoAwMC7gMD
	AvQDAwL6AwMDAAMCAwUDAwMLAwMDEQMCAxYDAwMcAwMDIgEBAyQCAQMnAgMDLAIEAzIC
	AwM3AgMDPAIEA0ICAgNGAgQDTAIDA1ECBANXAgQDXQIDA2ICBANoAgQDbgIDA3MCBAN5
	AgQDfwIBA4ICAQOFAgIDiQIBA4wCAQOPAwIDlAMDA5oDAwOgAwMDpgMDA6wDAgOxAwMD
	twMDA70DAgPCAwMDyAICA8wCAQPPAgID0wICA9cCAgPbAgID3wIBA+ICAgPmAgID6gIC
	A+4CAgPyAgED9QICA/kDAgP+AwMEBAMCBAkDAwQPAwIEFAMDBBoDAwQgAwMEJgMCBCsD
	AwQxAwMENwMCBDwDAwRCAwMESAIBBEsCAQROAgEEUQIBBFQDAQRYAwEEXAIBBF8DAQRj
	AgEEZgMBBGoDAQRuAwEEcgMBBHYDAQR6AwEEfgIBBIECAQSEAgIEiAIBBIsCAQSOAwIE
	kwMDBJkDAgSeAwMEpAMDBKoDAwSwAwMEtgMCBLsDAwTBAwMExwMCBMwDAwTSAwME2AIC
	BNwCAQTfAgIE4wICBOcCAgTrAgIE7wIBBPICAgT2AgIE+gICBP4CAgUCAgEFBQICBQkD
	AgUOAwMFFAMCBRkDAwUfAwIFJAMDBSoDAwUwAwMFNgMCBTsDAwVBAwMFRwMCBUwDAwVS
	AwMFWAIBBVsCAQVeAgEFYQIBBWQCAwVpAgIFbQIBBXACAQVzAwIFeAMDBX4DAgWDAwMF
	iQMDBY8DAwWVAwMFmwMCBaADAwWmAwMFrAMCBbEDAwW3AwMFvQICBcECAQXEAgIFyAIC
	BcwCAgXQAgEF0wIBBdYCAgXaAgIF3gICBeICAgXmAgEF6QICBe0DAgXyAwMF+AMCBf0D
	AwYDAwIGCAMDBg4DAwYUAwMGGgMCBh8DAwYlAwMGKwMCBjADAwY2AwMGPAEBBj4CAQZB
	AgMGRgICBkoCAwZPAgIGUwIDBlgDAwZeAwQGZQMDBmsDBAZyAwQGeQMEBoADBAaHAwMG
	jQMEBpQDBAabAwMGoQMEBqgDBAavAgMGtAICBrgCAwa9AgMGwgIDBscCAwbMAgIG0AID
	BtUCAgbZAgMG3gMDBuQDBAbrAwMG8QMEBvgDAwb+AwQHBQMEBwwDBAcTAwMHGQMEByAD
	BAcnAwMHLQMEBzQDBAc7AgMHQAEBB0ICAQdFAgEHSAICB0wCAQdPAgIHUwIBB1YCAgda
	AgIHXgICB2ICAgdmAgEHaQICB20CAgdxAgIHdQIBB3gCAgd8AwIHgQMDB4cDAgeMAwMH
	kgMCB5cDAwedAwMHowMDB6kDAgeuAwMHtAMDB7oDAge/AwMHxQMDB8sCAQfOAgEH0QIC
	B9UCAQfYAgIH3AICB+ACAQfjAgIH5wICB+sCAgfvAgIH8wICB/cCAQf6AgIH/gICCAIC
	AggGAgIICgIBCA0CAggRAwIIFgMDCBwDAgghAwMIJwMCCCwDAwgyAwMIOAMDCD4DAghD
	AwMISQMDCE8DAghUAwMIWgMDCGACAghkAgEIZwIBCGoCAwhvAgIIcwIBCHYDAgh7AwII
	gAICCIQCAQiHAgIIiwICCI8CAgiTAgIIlwICCJsCAQieAgIIogICCKYCAgiqAgEIrQIC
	CLEDAgi2AwMIvAMCCMEDAwjHAwIIzAMDCNIDAwjYAwMI3gMCCOMDAwjpAwMI7wMCCPQD
	Awj6AwMJAAEBCQICAQkFAgMJCgIDCQ8CAwkUAgMJGQICCR0CAQkgAgEJIwIDCSgCAgks
	AgIJMAICCTQCAwk5AgMJPgICCUICAQlFAgMJSgICCU4CAglSAwEJVgMBCVoDAglfAgIJ
	YwIBCWYDAQlqAwEJbgICCXICAQl1AgIJeQIDCX4CAgmCAgMJhwIBCYoCAwmPAwEJkwMB
	CZcCAwmcAgMJoQICCaUCAwmqAgMJrwQBCbQDAQm4AgIJvAIDCcEDAQnFAwEJyQMBCc0D
	AQnRAwEJ1QIDCdoCAQndAgEJ4AICCeQCAQnnAgIJ6wIBCe4CAgnyAgIJ9gICCfoCAQn9
	AgIKAQICCgUCAgoJAgEKDAICChACAQoTAgIKFwICChsCAwogAgIKJAICCigCAwotAgIK
	MQIDCjYCAwo7AgMKQAIDCkUCAgpJAgMKTgIDClMCAwpYAgIKXAIDCmECAwpmAgMKawMD
	CnEDAwp3AwMKfQMDCoMDAwqJAgP/i/+e/2wAYgB5AGX/i/+e/2oAYgB5AGn/i/+e/2gA
	YgB5AG//i/+e/24AYgB5AHX/i/+e/20AYwAf/28AYwBoAGH/gf9sAGMAaABl/4H/agBj
	AGgAaf+BAGMAaABv/4H/bgBjAGgAdf+B/20AYwB5AGH/gf9sAGMAeQBl/4H/agBjAHkA
	af+B/2gAYwB5AG//gf9uAGMAeQB1/4H/bQBkAB//bwBkAGH/gP+eAGQAZf+D/54AZABo
	AGH/g/+e/2wAZABoAGX/g/+e/2oAZABoAGn/g/+e/2gAZABoAG//g/+e/24AZABoAHX/
	g/+e/20AZABp/4H/ngBkAG//hP+eAGQAdf+C/54AZAB3AHX/hP+e/2kAZAB5AGH/gf+e
	/2wAZAB5AGX/gf+e/2oAZAB5AGn/gf+e/2gAZAB5AG//gf+e/24AZAB5AHX/gf+e/20A
	Zf90AGYAH/9vAGYAYf+M/2cAZgBl/4z/agBmAGn/jP9oAGYAb/+M/2sAZgB1/4wAZgB5
	AGH/jP9sAGYAeQBl/4z/agBmAHkAaf+M/2gAZgB5AG//jP9uAGYAeQB1/4z/bQBnAB//
	bwBnAGH/dv+eAGcAZf95/54AZwBp/3f/ngBnAG//ev+eAGcAdf94/54AZwB3AGH/eP+e
	/2cAZwB5AGH/d/+e/2wAZwB5AGX/d/+e/2oAZwB5AGn/d/+e/2gAZwB5AG//d/+e/24A
	ZwB5AHX/d/+e/20AaAAf/28AaABh/4oAaABl/40AaABp/4sAaABv/44AaAB1/4wAaAB5
	AGH/i/9sAGgAeQBl/4v/agBoAHkAaf+L/2gAaAB5AG//i/9uAGgAeQB1/4v/bQBp/3IA
	agAf/28AagBh/3z/nv9sAGoAZf98/57/agBqAGn/fP+eAGoAb/98/57/bgBqAHX/fP+e
	/20AagB5AGH/fP+e/2wAagB5AGX/fP+e/2oAagB5AGn/fP+e/2gAagB5AG//fP+e/24A
	agB5AHX/fP+e/20AawAf/28AawBh/3YAawBl/3kAawBp/3cAawBv/3oAawB1/3gAawB3
	AGH/eP9nAGsAeQBh/3f/bABrAHkAZf93/2oAawB5AGn/d/9oAGsAeQBv/3f/bgBrAHkA
	df93/20AbAAf/28AbABh/2cAbABl/2oAbABp/2gAbABrAGEAEgBsAGsAZQATAGwAb/9r
	AGwAdABzAHX/bwBsAHQAdf9vAGwAdf9pAGwAdwBhABQAbAB5AGH/bABsAHkAZf9qAGwA
	eQBp/2gAbAB5AG//bgBsAHkAdf9tAG0AH/9vAG0AYf+PAG0AZf+SAG0Aaf+QAG0Ab/+T
	AG0Adf+RAG0AeQBh/5D/bABtAHkAZf+Q/2oAbQB5AGn/kP9oAG0AeQBv/5D/bgBtAHkA
	df+Q/20AbgAe/50AbgAf/28AbgAn/50AbgBh/4UAbgBl/4gAbgBp/4YAbgBu/50AbgBv
	/4kAbgB1/4cAbgB5AGH/hv9sAG4AeQBl/4b/agBuAHkAaf+G/2gAbgB5AG//hv9uAG4A
	eQB1/4b/bQBv/3UAcAAf/28AcABh/4r/nwBwAGX/jf+fAHAAaf+L/58AcABv/47/nwBw
	AHX/jP+fAHAAeQBh/4v/n/9sAHAAeQBl/4v/n/9qAHAAeQBp/4v/n/9oAHAAeQBv/4v/
	n/9uAHAAeQB1/4v/n/9tAHIAH/9vAHIAYf+XAHIAZf+aAHIAaf+YAHIAb/+bAHIAdf+Z
	AHIAeQBh/5j/bAByAHkAZf+Y/2oAcgB5AGn/mP9oAHIAeQBv/5j/bgByAHkAdf+Y/20A
	cwAf/28AcwBh/3sAcwBl/34AcwBoAGH/fP9sAHMAaABl/3z/agBzAGgAaf98AHMAaABv
	/3z/bgBzAGgAdf98/20AcwBp/3wAcwBv/38AcwB1/30AcwB5AGH/fP9sAHMAeQBl/3z/
	agBzAHkAaf98/2gAcwB5AG//fP9uAHMAeQB1/3z/bQB0AB//bwB0AGH/gAB0AGX/gwB0
	AGgAYf+D/2wAdABoAGX/g/9qAHQAaABp/4P/aAB0AGgAb/+D/24AdABoAHX/g/9tAHQA
	af+BAHQAb/+EAHQAcwBh/4L/ZwB0AHMAZf+C/2oAdABzAGn/gv9oAHQAcwBv/4L/awB0
	AHMAdf+CAHQAdf+CAHQAdwB1/4T/aQB0AHkAYf+B/2wAdAB5AGX/gf9qAHQAeQBp/4H/
	aAB0AHkAb/+B/24AdAB5AHX/gf9tAHX/cwB2AB//bwB2AGH/c/+e/2cAdgBl/3P/nv9q
	AHYAaf9zACz/ZAAt/3AALv9hAC//ZQA7/28AW/9iAF3/YwBh/3EAYgAf/28AYgBh/4r/
	ngBiAGX/jf+eAGIAaP+M/57/cwBiAGn/i/+eAGIAav+M/57/nQBiAGv/i/+e/50AYgBs
	/47/nv+dAGIAbv+K/57/nQBiAG//jv+eAGIAcP+O/57/cwBiAHH/iv+e/3IAYgB0/4v/
	nv+EAGIAdf+M/54AYgB3/43/nv9yAGIAeQBh/4v/nv9sAGIAeQBk/4v/nv9q/50AYgB5
	AGX/i/+e/2oAYgB5AGj/i/+e/23/cwBiAHkAaf+L/57/aABiAHkAav+L/57/bf+dAGIA
	eQBs/4v/nv9u/50AYgB5AG7/i/+e/2z/nQBiAHkAb/+L/57/bgBiAHkAcP+L/57/bv9z
	AGIAeQBx/4v/nv9s/3IAYgB5AHX/i/+e/20AYgB5AHf/i/+e/2r/cgBiAHkAev+L/57/
	bP+dAGIAev+K/57/nQBjAB//bwBjAGH/gf9sAGMAZP+B/2r/nQBjAGX/gf9qAGMAZv+B
	/2oAYwBo/4H/bf9zAGMAav+B/23/nQBjAGz/gf9u/50AYwBu/4H/bP+dAGMAb/+B/24A
	YwBw/4H/bv9zAGMAcf+B/2z/cgBjAHX/gf9tAGMAd/+B/2r/cgBjAHr/gf9s/50AZAAf
	/28AZABh/4D/ngBkAGMAaf+D/57/aABkAGMAdf+E/57/aQBkAGX/g/+eAGQAZv+D/54A
	ZABo/4L/nv9zAGQAaf+B/54AZABq/4L/nv+dAGQAa/+B/57/nQBkAGz/hP+e/50AZABt
	/4P/nv+TAGQAbv+A/57/nQBkAG//hP+eAGQAcP+E/57/cwBkAHH/gP+e/3IAZABz/4P/
	nv99AGQAdP+A/57/gQBkAHX/gv+eAGQAd/+D/57/cgBkAHr/gP+e/50AZf90AGYAH/9v
	AGYAYf+M/2cAZgBk/4z/av+dAGYAZf+M/2oAZgBo/4z/av+dAGYAaf+M/2gAZgBq/4z/
	nQBmAGv/jP9o/50AZgBs/4z/a/+dAGYAbv+M/2f/nQBmAG//jP9rAGYAcP+M/2v/cABm
	AHH/jP9n/3IAZgB1/4wAZgB3/4z/av9yAGYAev+M/2f/nQBnAB//bwBnAGH/dv+eAGcA
	ZP95/57/nQBnAGX/ef+eAGcAaP94/57/cwBnAGn/d/+eAGcAav94/57/nQBnAGv/d/+e
	/50AZwBs/3r/nv+dAGcAbv92/57/nQBnAG//ev+eAGcAcP96/57/cwBnAHH/dv+e/3IA
	ZwBy/3b/nv+XAGcAdP96/57/hABnAHX/eP+eAGcAd/95/57/cgBnAHkAYf93/57/bABn
	AHkAZP93/57/av+dAGcAeQBl/3f/nv9qAGcAeQBo/3f/nv9t/3MAZwB5AGn/d/+e/2gA
	ZwB5AGr/d/+e/23/nQBnAHkAbP93/57/bv+dAGcAeQBu/3f/nv9s/50AZwB5AG//d/+e
	/24AZwB5AHD/d/+e/27/cwBnAHkAcf93/57/bP9yAGcAeQB1/3f/nv9tAGcAeQB3/3f/
	nv9q/3IAZwB5AHr/d/+e/2z/nQBoAB//bwBoAGH/igBoAGT/jf+dAGgAZf+NAGgAZv+M
	AGgAZwBh/4v/bABoAGcAZP+L/2r/nQBoAGcAZf+L/2oAaABnAGj/i/9t/3MAaABnAGr/
	i/9t/50AaABnAGz/i/9u/50AaABnAG7/i/9s/50AaABnAG//i/9uAGgAZwBw/4v/bv9z
	AGgAZwBx/4v/bP9yAGgAZwB1/4v/bQBoAGcAd/+L/2r/cgBoAGcAev+L/2z/nQBoAGj/
	jP9zAGgAaf+LAGgAav+M/50AaABr/4v/nQBoAGz/jv+dAGgAbv+K/50AaABv/44AaABw
	/47/cwBoAHH/iv9yAGgAdP+L/4QAaAB1/4wAaAB3/43/cgBoAHkAYf+L/2wAaAB5AGT/
	i/9q/50AaAB5AGX/i/9qAGgAeQBo/4v/bf9zAGgAeQBq/4v/bf+dAGgAeQBs/4v/bv+d
	AGgAeQBu/4v/bP+dAGgAeQBv/4v/bgBoAHkAcP+L/27/cwBoAHkAcf+L/2z/cgBoAHkA
	df+L/20AaAB5AHf/i/9q/3IAaAB5AHr/i/9s/50Aaf9yAGoAH/9vAGoAYf98/57/bABq
	AGT/fP+e/2r/nQBqAGX/fP+e/2oAagBm/3z/nv9tAGoAaP98/57/bf9zAGoAaf98/54A
	agBq/3z/nv9t/50AagBr/3z/nv+dAGoAbP98/57/bv+dAGoAbv98/57/bP+dAGoAb/98
	/57/bgBqAHD/fP+e/27/cwBqAHH/fP+e/2z/cgBqAHX/fP+e/20AagB3/3z/nv9q/3IA
	agB6/3z/nv9s/50AawAf/28AawBh/3YAawBk/3n/nQBrAGX/eQBrAGb/dwBrAGcAYf93
	/2wAawBnAGj/d/9t/3MAawBnAGr/d/9t/50AawBnAGz/d/9u/50AawBnAG7/d/9s/50A
	awBnAG//d/9uAGsAZwBw/3f/bv9zAGsAZwBx/3f/bP9yAGsAZwB1/3f/bQBrAGcAev93
	/2z/nQBrAGj/eP9zAGsAaf93AGsAav94/50AawBs/3r/nQBrAG3/dv+TAGsAbv92/50A
	awBv/3oAawBw/3r/cwBrAHH/dv9yAGsAcv92/5cAawB0/3r/hABrAHX/eABrAHf/ef9y
	AGsAeQBh/3f/bABrAHkAZP93/2r/nQBrAHkAZf93/2oAawB5AGj/d/9t/3MAawB5AGn/
	d/9oAGsAeQBq/3f/bf+dAGsAeQBs/3f/bv+dAGsAeQBu/3f/bP+dAGsAeQBv/3f/bgBr
	AHkAcP93/27/cwBrAHkAcf93/2z/cgBrAHkAdf93/20AawB5AHf/d/9q/3IAawB5AHr/
	d/9s/50AbAAf/28AbABh/2cAbABl/2oAbABp/2gAbABrAGEAEgBsAGsAZQATAGwAb/9r
	AGwAdAB1/28AbAB1/2kAbAB3AGEAFABsAHkAYf9sAGwAeQBl/2oAbAB5AGn/aABsAHkA
	b/9uAGwAeQB1/20AbQAf/28AbQBh/48AbQBk/5L/nQBtAGX/kgBtAGb/kQBtAGcAYf+Q
	/2wAbQBnAGT/kP9q/50AbQBnAGX/kP9qAG0AZwBo/5D/bf9zAG0AZwBq/5D/bf+dAG0A
	ZwBs/5D/bv+dAG0AZwBu/5D/bP+dAG0AZwBv/5D/bgBtAGcAcP+Q/27/cwBtAGcAcf+Q
	/2z/cgBtAGcAdf+Q/20AbQBnAHf/kP9q/3IAbQBnAHr/kP9s/50AbQBo/5H/cwBtAGn/
	kABtAGr/kf+dAG0Aa/+Q/50AbQBs/5P/nQBtAG7/k/+JAG0Ab/+TAG0AcP+T/3MAbQBx
	/4//cgBtAHP/j/99AG0AdP+P/4AAbQB1/5EAbQB3/5L/cgBtAHkAYf+Q/2wAbQB5AGT/
	kP9q/50AbQB5AGX/kP9qAG0AeQBo/5D/bf9zAG0AeQBp/5D/aABtAHkAav+Q/23/nQBt
	AHkAbP+Q/27/nQBtAHkAbv+Q/2z/nQBtAHkAb/+Q/24AbQB5AHD/kP9u/3MAbQB5AHH/
	kP9s/3IAbQB5AHX/kP9tAG0AeQB3/5D/av9yAG0AeQB6/5D/bP+dAG4AHv+dAG4AH/9v
	AG4AJ/+dAG4AYf+FAG4AYv+I/4r/ngBuAGT/iP+dAG4AZf+IAG4AZv+HAG4AZwBh/4b/
	bABuAGcAZP+G/2r/nQBuAGcAZf+G/2oAbgBnAGj/hv9t/3MAbgBnAGr/hv9t/50AbgBn
	AGz/hv9u/50AbgBnAG7/hv9s/50AbgBnAG//hv9uAG4AZwBw/4b/bv9zAG4AZwBx/4b/
	bP9yAG4AZwB1/4b/bQBuAGcAd/+G/2r/cgBuAGcAev+G/2z/nQBuAGj/h/9zAG4Aaf+G
	AG4Aav+H/50AbgBr/4b/nQBuAGz/if+dAG4Abv+dAG4Ab/+JAG4AcP+J/3MAbgBx/4X/
	cgBuAHL/hf+ZAG4AdP+G/4EAbgB1/4cAbgB3/4j/cgBuAHkAYf+G/2wAbgB5AGT/hv9q
	/50AbgB5AGX/hv9qAG4AeQBo/4b/bf9zAG4AeQBp/4b/aABuAHkAav+G/23/nQBuAHkA
	bP+G/27/nQBuAHkAbv+G/2z/nQBuAHkAb/+G/24AbgB5AHD/hv9u/3MAbgB5AHH/hv9s
	/3IAbgB5AHX/hv9tAG4AeQB3/4b/av9yAG4AeQB6/4b/bP+dAG//dQBwAB//bwBwADv/
	jv+f/3MAcABh/4r/nwBwAGT/jf+f/50AcABl/43/nwBwAGb/jv+f/50AcABnAGH/i/+f
	/2wAcABnAGT/i/+f/2r/nQBwAGcAZf+L/5//agBwAGcAaP+L/5//bf9zAHAAZwBq/4v/
	n/9t/50AcABnAGz/i/+f/27/nQBwAGcAbv+L/5//bP+dAHAAZwBv/4v/n/9uAHAAZwBw
	/4v/n/9u/3MAcABnAHH/i/+f/2z/cgBwAGcAdf+L/5//bQBwAGcAd/+L/5//av9yAHAA
	ZwB6/4v/n/9s/50AcABo/4z/n/9zAHAAaf+L/58AcABq/4z/n/+dAHAAa/+L/5//nQBw
	AGz/jv+f/50AcABu/4r/n/+dAHAAb/+O/58AcABx/4r/n/9yAHAAdf+M/58AcAB3/43/
	n/9yAHAAeQBh/4v/n/9sAHAAeQBk/4v/n/9q/50AcAB5AGX/i/+f/2oAcAB5AGj/i/+f
	/23/cwBwAHkAaf+L/5//aABwAHkAav+L/5//bf+dAHAAeQBs/4v/n/9u/50AcAB5AG7/
	i/+f/2z/nQBwAHkAb/+L/5//bgBwAHkAcP+L/5//bv9zAHAAeQBx/4v/n/9s/3IAcAB5
	AHX/i/+f/20AcAB5AHf/i/+f/2r/cgBwAHkAev+L/5//bP+dAHAAev+K/5//nQBx/50A
	cgAf/28AcgBh/5cAcgBk/5r/nQByAGX/mgByAGj/mf9zAHIAaf+YAHIAav+Z/50AcgBr
	/5j/nQByAGz/m/+dAHIAbv+X/50AcgBv/5sAcgBw/5v/cwByAHH/l/9yAHIAcv+X/5oA
	cgB1/5kAcgB3/5r/cgByAHkAYf+Y/2wAcgB5AGT/mP9q/50AcgB5AGX/mP9qAHIAeQBo
	/5j/bf9zAHIAeQBp/5j/aAByAHkAav+Y/23/nQByAHkAbP+Y/27/nQByAHkAbv+Y/2z/
	nQByAHkAb/+Y/24AcgB5AHD/mP9u/3MAcgB5AHH/mP9s/3IAcgB5AHX/mP9tAHIAeQB3
	/5j/av9yAHIAeQB6/5j/bP+dAHMAH/9vAHMAYf97AHMAZP9+/50AcwBl/34AcwBm/3v/
	cgBzAGj/ff9zAHMAaf98AHMAav99/50AcwBr/3z/nQBzAGz/f/+dAHMAbf97/48AcwBu
	/3v/nQBzAG//fwBzAHD/f/9zAHMAcf97/3IAcwBy/33/mQBzAHT/fP+AAHMAdf99AHMA
	d/9+/3IAcwB5AGH/fP9sAHMAeQBk/3z/av+dAHMAeQBl/3z/agBzAHkAaP98/23/cwBz
	AHkAaf98/2gAcwB5AGr/fP9t/50AcwB5AGz/fP9u/50AcwB5AG7/fP9s/50AcwB5AG//
	fP9uAHMAeQBw/3z/bv9zAHMAeQBx/3z/bP9yAHMAeQB1/3z/bQBzAHkAd/98/2r/cgBz
	AHkAev98/2z/nQBzAHr/e/+dAHQAH/9vAHQAYf+AAHQAYv+A/4v/ngB0AGT/g/+dAHQA
	Zf+DAHQAZwBp/4P/aAB0AGcAdf+E/2kAdABo/4L/cwB0AGn/gQB0AGr/gv+dAHQAa/+B
	/50AdABs/4T/nQB0AG3/gP+SAHQAbv+A/50AdABv/4QAdABw/4T/cwB0AHH/gP9yAHQA
	cv+A/5cAdAB1/4IAdAB3/4P/cgB0AHkAYf+B/2wAdAB5AGT/gf9q/50AdAB5AGX/gf9q
	AHQAeQBo/4H/bf9zAHQAeQBp/4H/aAB0AHkAav+B/23/nQB0AHkAbP+B/27/nQB0AHkA
	bv+B/2z/nQB0AHkAb/+B/24AdAB5AHD/gf9u/3MAdAB5AHH/gf9s/3IAdAB5AHX/gf9t
	AHQAeQB3/4H/av9yAHQAeQB6/4H/bP+dAHX/cwB2AB//bwB2AGH/c/+e/2cAdgBl/3P/
	nv9qAHYAaf9z/57/aAB2AG//c/+e/2sAdgB1/3P/ngB3AB//bwB3AGH/nAB3AGT/c/9q
	/50AdwBl/3P/agB3AGb/nP9yAHcAaf9z/2gAdwBr/3P/aP+dAHcAbP9z/2v/nQB3AG7/
	nP+dAHcAb/9mAHcAcP9z/2v/cAB3AHH/nP9yAHcAcv+c/5oAdwBzAGUAEQB3AHMAaQAQ
	AHcAcwBv/3P/awB3AHT/nP+AAHcAdf9zAHcAeQBlABEAdwB5AGkAEAB3AHr/nP+dAHgA
	H/9vAHgAYf98/2wAeABk/3z/av+dAHgAZf98/2oAeABo/3z/bf9zAHgAaf9oAHgAav98
	/23/nQB4AGsAYQASAHgAawBlABMAeABs/3z/bv+dAHgAbv98/2z/nQB4AG//fP9uAHgA
	cP98/27/cwB4AHH/fP9s/3IAeAB0AHMAdf9vAHgAdAB1/28AeAB1/3z/bQB4AHf/fP9q
	/3IAeAB5AGH/bAB4AHkAZf9qAHgAeQBp/2gAeAB5AG//bgB4AHkAdf9tAHgAev98/2z/
	nQB5AB//bwB5AGH/lAB5AGX/cv9qAHkAZv+VAHkAaP+V/3MAeQBp/3IAeQBq/5X/nQB5
	AGz/lv+dAHkAbv+U/50AeQBv/5YAeQBw/5b/cwB5AHH/lP9yAHkAcv+W/5kAeQB1/5UA
	eQB6/5T/nQB6AB//bwB6AGH/e/+eAHoAY/97/54AegBk/37/nv+dAHoAZf9+/54AegBm
	/37/ngB6AGj/ff+e/3MAegBp/3z/ngB6AGr/ff+e/50AegBr/3z/nv+dAHoAbP9//57/
	nQB6AG7/e/+e/50AegBv/3//ngB6AHD/f/+e/3MAegBx/3v/nv9yAHoAcv97/57/mQB6
	AHX/ff+eAHoAdv97/57/cgB6AHf/fv+e/3IAegB4/37/nv9yAHoAeQBh/3z/nv9sAHoA
	eQBl/3z/nv9qAHoAeQBp/3z/nv9oAHoAeQBv/3z/nv9uAHoAeQB1/3z/nv9tAHoAev97
	/57/nd3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3dAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAA
	</data>
</dict>
</plist>
